@model Application.DTOs.OrganizationsDto

@{
    ViewData["Title"] = "Organizations";
}

<div id="PlaceHolderHere"></div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-5">
            <h2 class="text-primary">Organizations</h2>
        </div>
        <div class="col-5">
            <form form method="get" asp-action="FindView" class="d-flex" role="search">
                <input asp-for="Name" class="form-control" type="search" placeholder="Organization name" aria-label="Search">
                <span asp-validation-for="Name" class="text-danger"></span>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-2 text-end">
            <a asp-action="CreateView" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add
            </a>
        </div>
    </div>
    <br /><br />
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Director name")
                    </th>
                    <th>
                        @Html.DisplayName("Address")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Phone number")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in Model.Organizations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => organization.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => organization.DirectorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => organization.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => organization.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => organization.PhoneNumber)
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <form>
                                    <a class="btn btn-warning mx-2"
                                        asp-action="UpdateView" asp-route-id=@organization.Id><i class="bi bi-pencil-square"></i>Modify</a>
                                </form>

                                <form>
                                    <a class="btn btn-danger mx-2"
                                        asp-action="DeleteView" asp-route-id=@organization.Id><i class="bi bi-trash-fill"></i>Delete</a>
                                </form>
                                <form>
                                    <a class="btn btn-warning mx-2"
                                        asp-controller="Department" asp-action="GetByOrganizationId" asp-route-id=@organization.Id>Departments</a>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>